.panelleft {
  left: 0;
  background-image: url("../../../assets/images/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s ease-in-out all, 0s z-index;
  overflow: hidden;
  height: fit-content;
}
.transitionright {
  transform: translateX(100%);
  z-index: 2;
}
.transitionreturnleft {
  z-index: 1;
  transition: 0.7s ease-in-out all, 2s z-index;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
}
