.backpanelright {
  right: 0;
  background-color: burlywood;
  background-size: cover;
  z-index: 0;
}
.backpanelleft {
  left: 0;
  background-color: burlywood;
  background-size: cover;
  z-index: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
}
.title {
  font-size: 50px;
  padding-top: 15vh;
}
.description {
  font-size: 20px;
  padding-top: 10vh;
}
.hidden {
  animation-duration: 1s;
  animation-name: concealText;
}
.animated {
  animation-duration: 1s;
  animation-name: revealText;
}

@keyframes revealText {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes revealTextLeft {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes concealText {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 300%;
  }
}
