.backpanelright {
  right: 0;
  background-color: burlywood;
  background-size: cover;
  z-index: 0;
}
.backpanelleft {
  left: 0;
  background-color: burlywood;
  background-size: cover;
  z-index: 0;
}
.backpanelleft .hidden {
  animation-duration: 1s;
  animation-name: concealTextLeft;
}
.backpanelleft .animated {
  animation-duration: 1s;
  animation-name: revealTextLeft;
}
.backpanelright .hidden {
  animation-duration: 1s;
  animation-name: concealTextRight;
}
.backpanelright .animated {
  animation-duration: 1s;
  animation-name: revealTextRight;
}
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
}
.title {
  font-size: 50px;
  padding-top: 15vh;
}
.description {
  font-size: 20px;
  padding-top: 10vh;
}
/* .hidden {
  animation-duration: 1s;
  animation-name: concealTextRight;
}
.animated {
  animation-duration: 1s;
  animation-name: revealTextRight;
} */

@keyframes revealTextRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes revealTextLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes concealTextRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes concealTextLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
