.container {
  top: 5%;
  bottom: 5%;
  left: 25%;
  width: 70%;
  height: 90vh;
  position: relative;
}

.vl {
  height: 70vh;
  width: 7px;
  position: absolute;
  right: 49.6%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  filter: grayscale(30%) brightness(80%);
}
