.container {
    position: absolute;
    width: 27.62%;
    height: 47.07%;
    top: 0px;
    right: 0px;
    background-size: cover;
}

.container div {
    color: #FFFFFF;
}

.subTitle {
    font-family: Noto Sans Malayalam UI;
    font-style: normal;
    font-weight: 900;
    font-size: 1.4vw;
    margin: 4% 0 2% 8%;
}
